<div class="subscription-box-container">
  <span class="recommended-text">Recommended</span>
  <div class="subscription-list-container">
    {%- render 'subscription-single-code' -%}
    {%- render 'subscription-double-code' -%}
    {%- render 'subscription-try-once-code' -%}
  </div>
</div>